body {
    font-family: monospace;
    color: black;
    background-color: #DBFDEC;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header a, header p {
    font-size: 1.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2em;
}

button {
    font-family: monospace;
    list-style-type: none;
    background-color: #6E7F76;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    margin-top: 50px;
    padding-left: 25px;
    border: 1px solid gray;
    border-radius: 10px;
}

#choices-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 250px;
}

#start-button {
    margin-top: 25px;
}

#answer-status-container {
    display: flex;
}

#answer-status {
    font-size: 1.2em;
}

#initials-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
}

#initials {
    margin: 15px auto;
}